body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.friend_msg {
    display: flex;
    flex-direction: row;
}

.my_msg {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.msg {
    background-color: rgb(235, 235, 235);
    color: gray;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    padding: 0px 10px;
    max-width: 60%;
    word-wrap: break-word;
}
